<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Bars</h1>
    </div>
  </div>
  <div class="container flexthis">
      <div class="row" style="display: flex; flex-wrap: wrap;">
          <% user.my_bars.forEach(function(d) { %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong><%= d.name %></strong></h3>
              <span class="go tool-tip" data-id="<%= d.id %>" id="going-div-<%= d.id %>">
                <span id="going-btn-<%= d.id %>" class="btn btn-default tool-btn light-btn"><%= d.going.length %> Going</span>
                <span class="small tool-tip-text clearfix" id="names-<%= d.id %>">
                  <% d.going.forEach(function(u) { %>
                    <%= u.name %><br>
                  <% }) %>
                </span>
              </span>
              <span class="small btn btn-default light-btn date tool-tip" data-id="<%= d.id %>">
                <span id="date-text-<%= d.id %>"><%= moment(d.date).format( 'MMM DD,YYYY') %></span>
                <span class="small tool-tip-text">click to change date to today</span>
              </span>
            </div>
            <div class="panel-body">
              <img src="<%= d.picture %>" class="img-responsive">
              <small><em>&quot;<%= d.review %>&quot;</em><br><a href="<%= d.url %>" target="_blank">read more on Yelp...</a></small>
              <img src="<%= d.stars %>" class="img-responsive" style="margin-top:10px;">
              <form method="POST" action="/delete_bar" style="display:inline;">
                <input type="hidden" name="bar_id" value="<%= d._id %>">
                <button type="submit" class="btn btn-default dark-btn pull-right">Remove from My Bar List</button>
              </form>
            </div>
          </div>
        </div>
          <% }); %>
      </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<script>
$(function() {

  var my_bars = <%- JSON.stringify(user.my_bars) %>
  console.log(my_bars);
  var users = [];

  function generateNames(bar) {
    var going_names = '',
        going_count = bar.going.length;
    // populate bar names for the tooltip hover
    bar.going.forEach(function(b, i) {
      i === going_count - 1 ? going_names += b.name : going_names += b.name + ', ';
    });
    return going_names;
  }

  function changeDateToday(bar_id) {
    $.ajax({
      type: 'POST',
      url: '/change_date',
      data: { bar_id: bar_id },
      dataType: 'json'
    }).done(function(result) {
      var date = new Date();
      $('#date-text-' + bar_id)
        .text((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear());
    }).fail(function(e) {
      alert('Failed to change date');
    })
  }

  // render bar title elements, show 'going' button and hide 'save' button
  function renderSavedBar(bar) {
    var bar_id = bar.data.id,
        going_names = '',
        going_count = bar.data.going.length,
        name_list = $('#names-' + bar_id),
        going_btn = $('#going-btn-' + bar_id);

    if (going_count > 0) {
      going_names = generateNames(bar.data);
    }

    name_list.text(going_names);
    going_btn.text(going_count + ' going');
  }

  // clicking go hides
  $('.go').click(function() {
    var id = $(this).data('id');
    my_bars.forEach(function(d) {
      if (d.id === id) {
        $.ajax({
          type: 'POST',
          url: '/going',
          data: { id: d.id },
          dataType: 'json'
        }).done(function(result) {
          // result.message indicates user has already clicked go before
          // will update going count and names
          if (result.message) {
            console.log('deleted ' + result.name);

            // change name list
            $('#names-' + id).text(generateNames(result.bar));

            // change value
            $('#going-btn-' + id).text(result.bar.going.length + ' going');
          } else {
            renderSavedBar({ data: result});
          }
        }).fail(function(err) {
          console.log(err);
        });
      }
    });
  });

  $('.date').click(function() {
    var id = $(this).data('id');
    changeDateToday(id);
  })

  // $('.delete').click(function() {
  //   var id = $(this).data('id');
  //   $.ajax({
  //     type: 'POST',
  //     url: '/remove_bar',
  //     data: { bar_id: id }
  //   }).done(function(result) {
  //     location.reload = '/';
  //   }).fail(function(err) {
  //     alert('Failed to delete');
  //   });
  // });

});
</script>
<% include partials/footer.ejs %>
