<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Search Results around <%= location %></h4>
      <% if (!user) { %>
      <p class="small pull-right">Login to Save Results and Collaborate with Friends..</p>
      <% } else { %>
          <button class="btn btn-default" id="save_all">Save All Results</button>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <% results.businesses.forEach(function(d) { %>
      <div class="panel panel-default">
        <div class="panel-heading" id="<%= d.id %>">
          <h3 class="panel-title"><strong><%= d.name %></strong></h3>
          <% if (user) { %>
            <button class="save btn btn-default" data-id="<%= d.id %>" id="save-btn-<%= d.id %>">Save</button>
          <% } %>
        </div>
        <div class="panel-body">
          <img src="<%= d.image_url %>" class="img-responsive">
          <small><em>&quot;<%= d.snippet_text %>&quot;</em><br><a href="<%= d.url %>" target="_blank">read more on Yelp...</a></small>
          <img src="<%= d.rating_img_url_large %>" class="img-responsive" style="margin-top:10px;">
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% if (user) { %>
<script>
$(function() {
  var results = <%- JSON.stringify(results) %>;
  console.log(results);

  // checks if bar exists, returns AJAX promise
  function checkBar(id) {
    return $.ajax({
      type: 'POST',
      url: '/check_bar',
      data: { id: id },
      dataType: 'json'
    });
  }

  // check all bars on page load
  results.businesses.forEach(function(b) {
    console.log('checking ' + b.name);
    checkBar(b.id)
      .done(function(bar) {
        console.log(bar);
        renderSavedBar({data: bar});
      })
      .fail(function(e) {
        console.log('didnt find ' + b.name);
      });
  })

  $('#save_all').click(function() {
      // save all results

  });

  // render bar title elements and hide 'save' button
  function renderSavedBar(bar) {
    var bar_id = bar.data.id,
        bar_names = '',
        going_btn = $('#going-' + bar_id);

    if (bar.data.going.length > 0) {
      // populate bar names for the tooltip hover
      bar.data.going.forEach(function(b, i) {
        if (i == bar.data.going.length - 1) {
          bar_names += b.name;
        } else {
          bar_names += b.name + ',\r\n';
        }
      });
    }

    if (!going_btn.html()) {
      $('#' + bar_id).append('<span class="btn btn-default going-btn" data-toggle="tooltip" data-placement="bottom" id="going-' + bar_id + '" title="' + bar_names + '">' + bar.data.going.length + ' going</span>')
        .css('background-color','green')
        .css('color', 'white');
    } else {
      going_btn.text(bar.data.going.length + ' going');
    }
    $('#going-' + bar_id).click(function() {
      // add bar where you are going
      var going_id = this.id.split('going-')[1];
      $.ajax({
        type: 'POST',
        url: '/going',
        data: { id: going_id }
      }).done(function(d) {
        // reload page
        location.reload();
      }).fail(function(e) {
        console.log(e);
      });
    });
    $('#save-btn-' + bar_id).hide();
    // Enable all tooltips
    $('[data-toggle="tooltip"]').tooltip();
  }

  // clicking save creates new bar title elements
  $('.save').click(function() {
    var id = $(this).data('id');
    results.businesses.forEach(function(d) {
      if (d.id === id) {
        $.ajax({
          type: 'POST',
          url: '/save_location',
          data: d,
          dataType: 'json'
        }).done(function(result) {
          console.log(result);
          renderSavedBar(result);
        }).fail(function(err) {
          console.log(err);
        });
      }
    });
  });

});
</script>
<% } %>
<% include partials/footer.ejs %>
