<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= results.businesses.length %> Search Results around '<%= location %>'</h4>
      <% if (!user) { %>
      <p class="small pull-right">Login to Save Results and Collaborate with Friends..</p>
      <% } else { %>
          <button class="btn btn-default" id="save_all">Save All Results</button>
          <hr>
      <% } %>
    </div>
  </div>
<div class="flexthis">
  <div class="row" style="display: flex; flex-wrap: wrap;">
      <% results.businesses.forEach(function(d) { %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="<%= d.id %>">
          <div class="text-center">
            <h3 class="panel-title"><strong><%= d.name %></strong></h3>
          </div>
          <% if (user) { %>
          <div class="text-center center-block">
            <button class="save btn btn-default btn-xs light-btn" data-id="<%= d.id %>" id="save-btn-<%= d.id %>">Save</button>
            <span class="go tool-tip" data-id="<%= d.id %>" id="going-div-<%= d.id %>">
              <span id="going-btn-<%= d.id %>" class="btn btn-default btn-xs tool-btn light-btn">0 Going</span>
              <span class="small tool-tip-text clearfix" id="names-<%= d.id %>"></span>
            </span>
            <span class="small btn btn-default light-btn btn-xs tool-tip date" id="date-<%= d.id  %>" data-id="<%= d.id %>">
              <span id="date-text-<%= d.id  %>"></span>
              <span class="small tool-tip-text">click to change date to today</span>
            </span>
          </div>
          <% } %>
        </div>
        <div class="panel-body">
          <img src="<%= d.image_url %>" class="img-responsive">
          <small><em>&quot;<%= d.snippet_text %>&quot;</em><br><a href="<%= d.url %>" target="_blank">read more on Yelp...</a></small>
          <img src="<%= d.rating_img_url_large %>" class="img-responsive" style="margin-top:10px;">
        </div>
      </div>
    </div>
      <% }); %>
  </div>
</div>
  <!-- Button trigger modal -->
  <button type="button" style="display:none;" data-toggle="modal" data-target="#loader">
  </button>

  <!-- Modal -->
  <div class="modal fade" id="loader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1 class="modal-title text-center" id="myModalLabel">Loading...</h1>
        </div>
        <div class="modal-body">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% if (user) { %>
<script>
$(function() {
  var results = <%- JSON.stringify(results) %>;

  // stores saved bar location id
  var saved_bars = [];

  // checks if bar exists, returns AJAX promise
  function checkBar(id) {
    return $.ajax({
      type: 'POST',
      url: '/check_bar',
      data: { id: id },
      dataType: 'json'
    });
  }

  // generate Loading spinner on page load
  $('#loader').modal('show');

  // check all bars on page load
  results.businesses.forEach(function(b, i) {
    console.log('checking ' + b.name);
    $('#going-btn-' + b.id).hide();
    $('#date-' + b.id).hide();

    // check if bars are already saved
    checkBar(b.id)
      .done(function(bar) {
        saved_bars.push(b.id);
        renderSavedBar({data: bar});
        if (i === results.businesses.length - 1) {
          $('#loader').modal('hide');
        }
      })
      .fail(function(e) {
        console.log('didnt find ' + b.name);
        if (i === results.businesses.length - 1) {
          $('#loader').modal('hide');
        }
      });
  })

  function generateNames(bar) {
    var going_names = '',
        going_count = bar.going.length;
    // populate bar names for the tooltip hover
    bar.going.forEach(function(b, i) {
      i === going_count - 1 ? going_names += b.name : going_names += b.name + ', ';
    });
    return going_names;
  }

  // render bar title elements, show 'going' button and hide 'save' button
  function renderSavedBar(bar) {
    var bar_id = bar.data.id,
        going_names = '',
        going_count = bar.data.going.length,
        name_list = $('#names-' + bar_id),
        save_btn = $('#save-btn-' + bar_id),
        date_btn = $('#date-' + bar_id),
        date_text = $('#date-text-' + bar_id),
        going_btn = $('#going-btn-' + bar_id);

    if (going_count > 0) {
      going_names = generateNames(bar.data);
    }

    var date = new Date(bar.data.date);
    console.log(date);
    going_btn.show();
    date_btn.show();
    date_text.text((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear());
    name_list.text(going_names);
    going_btn.text(going_count + ' going');
    save_btn.hide();
  }

  function changeDateToday(bar_id) {
    $.ajax({
      type: 'POST',
      url: '/change_date',
      data: { bar_id: bar_id },
      dataType: 'json'
    }).done(function(result) {
      var date = new Date();
      $('#date-text-' + bar_id)
        .text((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear());
    }).fail(function(e) {
      alert('Failed to change date');
    })
  }

  // CLICK HANDLERS
  // --------------
  $('#save_all').click(function() {
      // save all results
      results.businesses.forEach(function(d) {
        // check first if bar has already been saved
        var index = saved_bars.indexOf(d.id);
        if (index === -1) {
          $.ajax({
            type: 'POST',
            url: '/save_location',
            data: d,
            dataType: 'json'
          }).done(function(result) {
            renderSavedBar(result);
          }).fail(function(err) {
            alert('Error saving bar');
          });
        }
      });
  });

  // add to going list
  $('.go').click(function() {
    var id = $(this).data('id');
    results.businesses.forEach(function(d) {
      if (d.id === id) {
        $.ajax({
          type: 'POST',
          url: '/going',
          data: { id: d.id },
          dataType: 'json'
        }).done(function(result) {
          // result.message indicates user has already clicked go before
          // will update going count and names
          if (result.message) {
            console.log('deleted ' + result.name);

            // change name list
            $('#names-' + id).text(generateNames(result.bar));

            // change value
            $('#going-btn-' + id).text(result.bar.going.length + ' going');
          } else {
            renderSavedBar({ data: result});
          }
        }).fail(function(err) {
          console.log(err);
        });
      }
    });
  });

  // clicking save shows new bar title elements and hides save button
  // after success in saving location server-side
  $('.save').click(function() {
    var id = $(this).data('id');
    results.businesses.forEach(function(d) {
      if (d.id === id) {
        $.ajax({
          type: 'POST',
          url: '/save_location',
          data: d,
          dataType: 'json'
        }).done(function(result) {
          saved_bars.push(result.data.id);
          renderSavedBar(result);
        }).fail(function(err) {
          console.log(err);
        });
      }
    });
  });

  $('.date').click(function() {
    var id = $(this).data('id');
    changeDateToday(id);
  })

});
</script>
<% } %>
<% include partials/footer.ejs %>
